.dashboard{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
}

.dashboard h1{
    font-weight: bolder;
    font-size: 50px;
}

.dashboard button{
    font-size: 20px;
}